services:
  mongodb:
    image: mongo:latest
    container_name: todo_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - todo-network

  backend:
    build: ./backend
    container_name: todo_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - PORT=5000
      - DB_URI=mongodb://mongodb:27017/TodoList
      - JWT_SECRET=9ba43a3a7cc772560224db147e43f68b
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - mongodb
    networks:
      - todo-network

  frontend:
    build: ./frontend
    container_name: todo_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000/api
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npm run dev -- --host"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    networks:
      - todo-network

networks:
  todo-network:
    driver: bridge

volumes:
  mongo-data:
