services:
  node-app:
    container_name: todolist_container
    build:
      context: .
      dockerfile: Dockerfile
    volumes:          
      - .:/app
      - /app/node_modules
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - mongo
    environment:
      - DB_URI=mongodb://mongo:27017/TodoList

  mongo:
    container_name: mongodb_container
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: